{% extends "base.html" %}
{% block pageTitle %}QUICC FOOD - My Wallet{% endblock %}

{% block mainTitle %}My Wallet{% endblock %}
{% block main %}

    <div class="col-12">
        
        <div class="card cardSpacing">
            <div class="card-body">
                
                <h4 class="card-title">Wallet Code: AAH352</h4>
                
                <div class="row">
                    <div class="col-6">
                        <h5 class="">Your Balance: $0.00</h5>
                    
                        <br />
                        
                        <button type="button" class="btn btn-primary">
                            Add $500 JMD <i class="fas fa-camera-retro"></i>
                        </button>

                        <button type="button" class="btn btn-primary">
                            Add $1000 JMD <i class="fas fa-camera-retro"></i>
                        </button>

                        <button type="button" class="btn btn-primary">
                            Add $2500 JMD <i class="fas fa-camera-retro"></i>
                        </button>

                        <button type="button" class="btn btn-primary">
                            Add $5000 JMD <i class="fas fa-camera-retro"></i>
                        </button>

                        <button type="button" class="btn btn-primary">
                            Add $10000 JMD <i class="fas fa-camera-retro"></i>
                        </button>

                        <form action="/addFunds/50000" method="POST">
                            <article>
                                <label>
                                <span>Amount is $500.00</span>
                                </label>
                            </article>
                        
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ key }}"
                                    data-description="A Flask Charge"
                                    data-amount="50000"
                                    data-locale="auto"></script>
                            </form>

                        <br />
                                                
                    </div>
                            
                    
                </div>
        </div>

            

    </div>
{% endblock %}