{% extends "base.html" %}
{% block pageTitle %}QUICC FOOD - Checkout{% endblock %}

{% block mainTitle %}Checkout{% endblock %}
{% block main %}

    <div class="col-12">
        
        <div class="card cardSpacing">
            <div class="card-body">
                
                <h4 class="card-title">Wallet Code: AAH352</h4>
                
                <div class="row">
                    <div class="col-6">
                        <h5 class="">Your Items: {{ qty }} X {{ menuItems[0][1] }}</h5>
                        <h5 class="">Your Total: {{ menuItems[0][3] | format_currency }}</h5>
                    
                        <br />
                        
                        
                        <form action="/charge/{{ menuItems[0][3] * 100 }}/home" method="POST">
                            <article>
                                <label>
                                <span>Amount is {{ menuItems[0][3] | format_currency }}</span>
                                </label>
                            </article>
                        
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ key }}"
                                    data-description="A Flask Charge"
                                    data-amount="{{ menuItems[0][3]*100 }}"
                                    data-locale="auto"></script>
                            </form>

                        <br />
                                                
                    </div>
                            
                    
                </div>
        </div>

            

    </div>
{% endblock %}