{% extends "base.html" %}
{% block main %}

{% if recommendations %}
    {% for i in recommendations %}
        <div class="col-12 col-sm-3">
            <div class="card cardSpacing restaurantCard">
                    <img class="card-img-top img-fluid restaurantImage" src="{{ i['image'] }}">
                <div class="card-body restaurantCardBody">
                    <h4 class="card-title restaurantTitle"><b>Sold at: </b>{{ i['place'] }}</h4>
                    <p class="card-text restaurantType"><b>Item Name: </b>{{ i['name'] }}</p>
                    <p class="card-text restaurantType"><b>Item Cost: </b>{{ i['cost'] }}</p>
                    <p class="card-text restaurantType"><b>Recommendation level: </b>{{ i['rating'] }}</p>
                    <div class="text-center">
                        <a href="/checkout/{{ i['cost'] }}" class="btn btn-primary restaurantButton">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
        <div class="col-12">
            <div class="card cardSpacing text-center">
                <div class="card-body">
                    <h4 class="card-title">No Items Found</h4>
                    <p class="card-text">
                        
                    </p>
                </div>
            </div>
        </div>
{% endif %}

{% endblock %}